<link rel="stylesheet" href="/stylesheets/style.css">

<a href="/users/register">Register</a>
<a href="/users/login">Login</a>
<a href="/stories/storyList">Read Stories</a>
<a href="/stories/new">Post a story</a>