<link rel="stylesheet" href="/stylesheets/style.css">

<button class="button2"><a href="/users/register">Register</a></button>
<button class="button2"><a href="/users/login">Login</a></button>
<button class="button2"><a href="/auth/github">Login using GitHub</a></button>
<button class="button2"><a href="/auth/facebook">Login using Facebook</a></button>
<button class="button2"><a href="/stories/storyList">Read Stories</a></button>
<button class="button2"><a href="/stories/new">Post a story</a></button>
