<link rel="stylesheet" href="/stylesheets/style.css">
<link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Orbitron:wght@400;500;600;700&display=swap" rel="stylesheet">
<script src="https://kit.fontawesome.com/f4e5dcf0e0.js" crossorigin="anonymous"></script>

<div class="font-icon">
    <i class="fab fa-artstation fa-3x">Artistic Story Teller</i>
</div>

<button class="button2"><a href="/users/register">Register</a></button>
<button class="button2"><a href="/users/login">Login</a></button>
<button class="button2"><a href="/auth/github">Login using GitHub</a></button>
<button class="button2"><a href="/auth/facebook">Login using Facebook</a></button>
<button class="button2"><a href="/stories/storyList">Read Stories</a></button>
<button class="button2"><a href="/stories/new">Post a story</a></button>
