<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>

    <div class="center">
      <h1>WELCOME</h1>
      <div class="btn">
        <button class="button"><a href="/users/home" class="home-button">Enter</a></button>
      </div>
    </div>

  </body>
</html>
