<a href="/users/home">Home</a>

<form action="/users/login" method="post">
    <input type="text" name="username" placeholder="Enter username...">
    <input type="password" name="password" placeholder="Enter Password...">
    <input type="submit" value="Login">
</form>