<link rel="stylesheet" href="/stylesheets/style.css">

<button class="button2"><a href="/users/home">Home</a></button>
<button class="button2"><a href="/stories/storyList">Read Stories</a></button>

<div class="edit_article-flex">
    <form action="/stories/new" method="post">
        <input type="text" name="title" placeholder="Enter title..." class="edit-article">
        <textarea name="description" cols="30" rows="10" class="edit-article"></textarea>
        <input type="text" name="location" placeholder="Where did it take place.?" class="edit-article">
        <input type="submit" value="Ready to submit">
    </form>
</div>