<link rel="stylesheet" href="/stylesheets/style.css">

<a href="/users/home">Home</a>
<a href="/users/home">Edit</a>
<a href="/users/home">Delete</a>

<h1>Welcome!</h1>

<h2><%= story.title %></h2>
<h3><%= story.location %></h3>
<h2><%= story.description %></h2>