<a href="/users/home">Home</a>

<form action="/users/register" method="post">
    <input type="text" name="username" placeholder="Enter username...">
    <input type="text" name="email" placeholder="Enter email...">
    <input type="text" name="password" placeholder="Enter Password...">
    <input type="submit" value="Register">
</form>