<link rel="stylesheet" href="/stylesheets/style.css">

<section id="signup-box">
        <h1>Create your account</h1>
        <p>let the world read your stories</p>
        <form action="/users/register" method="post" id="signup-form">
            <label for="name">Username</label><br>
            <input type="text" name="username" placeholder="Enter username..."><br>
            <label for="email">Email</label><br>
            <input type="email" name="email" placeholder="Enter email..."><br>
            <label for="password">Password</label><br>
            <input type="password" name="password" placeholder="Enter Password..."><br>
            <input type="submit" value="Register">
        </form>
        <a href="/users/home">Home</a>
</section>
