<link rel="stylesheet" href="/stylesheets/style.css">

<a href="/users/home">Home</a>
<a href="/stories/logout">Logout</a>

<h1>Welcome!</h1>
<h4><%= username %></h4>

<% story.forEach(story => { %>
<a href="/stories/<%= story.id %>">
    <h2><%= story.title %></h2>
</a>
<% }) %>